@using WebApp.Models;
@model WebApp.Models.Home.UserDetails

<div id="tabs">
    @if (!Model.AddView)
    {
        <ul>
            <li><a href="#tabs-1">General Details</a></li>
            <li><a href="#tabs-2">Reset Password</a></li>
            @if (Model.RoleName == "Employees")
            {
                <li><a href="#tabs-3">Leave Planner</a></li>
                <li><a href="#tabs-4">Attendence</a></li>
            }
        </ul>
    }
    <div id="tabs-1">
        @if (Model.AddView)
        {
            <h1>Add users to @Model.RoleName</h1>
            <input type="hidden" id="roleId" value="@Model.RoleId" />
        }
        <div>
            <div id="alertDiv" style="display: none" class="alert alert-success">

            </div>
            <input type="hidden" id="id" value="@Model.Id" />
            <div class="form-group">
                <label for="Name">First Name:</label>
                <input type="text" class="form-control" id="name" value="@Model.Name">
            </div>
            <div class="form-group">
                <label for="middleName">Middle Name:</label>
                <input type="text" class="form-control" id="middleName" value="@Model.MiddleName">
            </div>
            <div class="form-group">
                <label for="Name">Last Name:</label>
                <input type="text" class="form-control" id="secondName" value="@Model.SecondName">
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" value="@Model.Email">
            </div>
            <div class="form-group">
                <label for="alternateEmail">Alternet Email:</label>
                <input type="email" class="form-control" id="alternateEmail" value="@Model.AlternateEmail">
            </div>
            <div style="display: none" class="checkbox">
                <label><input type="radio"> Male</label>
                <label><input type="radio"> Female</label>
            </div>
            <div class="form-group">
                <label for="address">Address:</label>
                <input type="text" class="form-control" id="address" value="@Model.Address">
            </div>
            <div class="form-group">
                <label for="phone">Phone:</label>
                <input type="tel" class="form-control" id="phone" value="@Model.Phone">
            </div>
            <div class="form-group">
                <label for="alternetPhone">Alternet Phone:</label>
                <input type="tel" class="form-control" id="alternetPhone" value="@Model.AlternetPhone">
            </div>
            <div class="form-group">
                <label for="bloodGroup">Blood Group:</label>
                <input type="text" class="form-control" id="bloodGroup" value="@Model.BloodGroup">
            </div>
            
            <div class="form-group">
                <label for="employeeNumber">Employee Number:</label>
                <input type="number" class="form-control" id="employeeNumber" value="@Model.EmployeeNumber">
            </div>
            <div class="form-group">
                <label for="code">Code:</label>
                <input type="number" class="form-control" id="code" value="@Model.Code">
            </div>
            <div class="form-group">
                <label for="compensationType">Compensation Type:</label>
                <input type="text" class="form-control" id="compensationType" value="@Model.CompensationType">
            </div>
            <div class="form-group">
                <label for="rate">Rate:</label>
                <input type="number" class="form-control" id="rate" value="@Model.Rate">
            </div>
            @if (Model.AddView)
        {
            <button class="btn btn-default" onclick="javascript: roles.addUserToDb();">Submit</button>
        }
        else
        {
            <button class="btn btn-default" onclick="javascript: roles.updateUser();">Submit</button>
            <button class="btn btn-default" onclick="javascript: roles.deleteUser();">Delete</button>
            }
        </div>

    </div>
    @if (!Model.AddView)
    {
        <div id="tabs-2">
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" readonly="readonly" value="@Model.Email">
            </div>
            <button class="btn btn-default" onclick="javascript: roles.resetPassword('@Model.Email');">Send password reset email</button>
        </div>
    }
    @if (!Model.AddView)
    {
        @if (Model.RoleName == "Employees")
        {
            <div id="tabs-3">
                <div id="leave-calendar">
                </div>
            </div>
        <!-- set the legend for the calendar -->
            <script type="application/javascript">
            $(document).ready(function () {
                $.getJSON("/Home/LeaveCalendar/@Model.Id",
                function (data) {
                            $("#leave-calendar").zabuto_calendar({
                            data:data.calendarDates
                      });
                });
            });
            </script>
            <div id="tabs-4">
                <div id="attendence">
                    <div id="gridContainer"></div>
                </div>
            </div>
            <!-- set the legend for the Attendence -->
            <script type="application/javascript">
                $(document).ready(function () {
                        employeeAttendance.init("@Model.Id");
                    });
            </script>
        }
    }
</div>